
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    color: #333;
    /* Couleur du texte */
}

pre {
    background-color: #222;
    color: #fff;
    /* Blanc */
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    white-space: pre-wrap;
}

.git-command {
    color: #b3b3b3;
    /* Gris */
    font-weight: bold;
    /* Gras */
}